/*内容*/
.news_menu{ width:220px;border:1px solid #e8e8e8; background:#FFF}
.news_menu li{ width:220px; height:50px;}
.news_menu li a{ display:block;width:220px; height:50px; border-bottom:1px solid #e8e8e8; text-align:center; line-height:50px; font-size:15px;}
.news_menu li a:hover,.news_menu li a.active{ background:#fb661e; color:#FFF;}

.news_list{ width:955px; border:1px solid #e8e8e8; padding-bottom:10px; background:#FFF }
.news_list h1{ width:900px; margin:0px auto; border-bottom:1px solid #e8e8e8;background: url("../images/line.png")/*tpa=http://jsg1.5.hengjihr.com/statics/images/skins/images/line.png*/ no-repeat 0 50%;color: #fb661e;font-size: 20px;height:38px; text-indent:10px; line-height:38px; margin-top:10px; font-weight:bold;}
.news_list ul{ width:900px; margin:0px auto;}
.news_list ul li{ height:45px; line-height:45px; border-bottom:1px solid #e5e4e2; background:url("../images/newss_icon.png")/*tpa=http://jsg1.5.hengjihr.com/statics/images/skins/images/newss_icon.png*/ no-repeat 20px -180px; text-indent:50px; position:relative; overflow:hidden;d}
.news_list ul li a{ font-size:16px;}
.news_list ul li a:hover{ color: #e12a2f;}
.news_list ul li .news_date{ position:absolute; right:35px;top:0px; font-size:12px; color:#999;}
.news_list .helpcontent{ padding:20px 30px 20px 30px; font-size:16px; line-height:200%;}

.cbox{text-align:left;line-height:200%;font-size:14px;}
#cBox table{border-top:1px solid #ccc;border-left:1px solid #ccc;width:100%;margin-top:10px;margin-bottom:30px;}
	#cBox table th{border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center; font-weight:bold;background:#e0e0e0;color:#cb0202;line-height:28px; font-weight:bold;}
	#cBox table td{line-height:28px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;background:#fff;font-size:12px;color:#000;}


