.window-cont{display: block;padding: 0 20px; font-size:14px}

.window-cont dl{display: block;margin: 20px 0;width: 560px;}

.window-cont dd{float: left;width: 50%;line-height: 30px;}

.window-cont dd label{display: inline-block;padding-right: 20px;}

.enter-pwd{display: block;padding: 20px 0;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;line-height: 38px;}

.enter-pwd label{float: left;margin-right: 10px;}

.enter-pwd input{float: left;padding: 10px 5px;width: 200px;}

.enter-pwd a.f-pwd{float: left;display: inline;margin-left: 20px;}

.sure-btn{display: block;padding: 20px 0;}

.sure-btn input.btn{display: block;margin: 0 auto;width: 90px;height: 32px;cursor: pointer;}

.agree-pact{margin-top:0px;}

.agree-pact input,.agree-pact label,.agree-pact a,.agree-pact span{float: left;line-height: 22px;cursor: pointer;}

.checkbox + label{

	position: relative;

	display: inline-block;

	margin: 0;padding: 0;

	margin-right: 5px;

	width: 20px;height: 20px;

	background: #e5e7ea;

	border: 1px solid #dcdfe3;

	border-radius: 3px;

}

.checkbox:checked + label:after{

	background: url("../images/spread_ok.png")/*tpa=http://jsg1.5.hengjihr.com/statics/images/images/spread_ok.png*/ no-repeat center center;

	width: 20px;height: 20px;

	content: "";display: block;

}

.checkbox{

	visibility: hidden !important;

	visibility: visible \9 !important;

	display: block \9 !important;

	margin-top: 2px \9;

	margin-right: 5px;

}

.agree-pact label{display: none \9;}



.touer{ float:left; width:150px; font-size:20px; text-align: right; line-height:40px;}

.spinner{ float:left; width:304px;font-size:20px;}

.lessbtn,.addbtn{

	width: 40px;height: 40px;background: #f7f7f7;color: #808080;

	border: 0;font-weight: bold;font-size: 18px;cursor: pointer;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}

.lessbtn:hover,.addbtn:hover{background: #76c649;color: #fff;}

.numtext{padding: 10px 0;border: 1px solid #eee;text-align: center;border-radius: 0;width: 222px;height: 18px;}

.numtext:focus{box-shadow: inset 0 0 0 #76c649;border-radius: 0;}

input[type="password"]{width: 265px;padding: 8px 5px;}







.tzAlertForm .tzAlertSy .helpIcon{ float:left; margin:3px 0 0 5px; display:inline;}

.tzAlertForm .tzAlertSy .fr{ padding:4px 10px 0 0;}

.tzAlertText{ float:left;  width:80%; padding:5px 10%; font-size:14px; line-height:50px;}

.tzAlertText em{ font-size:20px; color:#f40;}

.tzAlertUl{ float:left; width:540px; border:#c9c9c9 solid 1px; border-bottom:none; margin-left:15px; display:inline; height:150px; overflow-x:auto}

.tzAlertUl li{ float:left; width:100%; line-height:41px; border-bottom:#c9c9c9 solid 1px;  font-size:14px;}

.tzAlertUl li em{color:#222;}

.tzAlertUl li span{ float:left; width:48%; background:url("../images/product.png")/*tpa=http://jsg1.5.hengjihr.com/statics/images/images/product.png*/ 0 -327px no-repeat; padding-left:5%; margin-left:20px; display:inline; line-height:41px;}

.tzAlertUl li p{ float:left; width:35%; text-align:right;}

.tzAlertUl li .bjClass{ float:right; width:42%; line-height:20px; padding-bottom:10px;}

.tzAlertUl li.curr{ background:#f7f7f7;}

.tzAlertImg{ float:left; width:100%; text-align:center; margin-top:20px;}

.noresult{ float:left; width:100%; padding:30px 0; text-align:center; color:#f40; font-size:16px;}



.alertLoading{ float:left; width:100%; text-align:center;}



.error{display:block; height:25px; line-height:25px; color:#F00; text-align:center}

